<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>p02-biradar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>316397771E3B183E000D0518</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>316397901E3B183E000D0518</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3163979B1E3B183E000D0518</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
